<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogIncludeTimestamp="true"
      internalLogFile="nlog-internal.log">

  <variable name="Layout"
            value="${longdate}|${level:uppercase=true}|${logger}|${message}"/>

  <targets>
    <target xsi:type="File" name="allfile" layout="${Layout}"
            fileName=".\logs\all-${shortdate}.log" />
    <target xsi:type="Console" name="console" layout="${time} [${threadid}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}" />
    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>